.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #232f3e;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu li:hover {
  color: #febd69;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.search button {
  background-color: #febd69;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search button:hover {
  background-color: #f3a847;
}

.account button {
  background-color: #febd69;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.account button:hover {
  background-color: #f3a847; /* Darker shade on hover */
}

@media (max-width: 768px) {
  .menu ul {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    width: 100%;
  }

  .menu.active ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }
}
