/* Components/SearchBar.css */
.search-bar {
  display: flex;
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.search-bar button {
  padding: 10px;
  background-color: #febd69;
  border: none;
  cursor: pointer;
}
