/* Calculator.css */
.calculator-container {
  max-width: 320px; /* Fixed width for the calculator */
  margin: 20px auto; /* Center the calculator */
}

.results {
  background-color: #2c2c2c7a; /* Dark background */
  border: 1px solid #064955a7; /* Border to match button edges */
  border-radius: 5px 5px 0 0; /* Rounded corners only at the top */
  padding: 15px;
  font-size: 36px; /* Larger font for results */
  text-align: right;
  color: #ffffff; /* White text */
  min-height: 60px; /* Minimum height for results area */
  width: 100%; /* Full width of the container */
  box-sizing: border-box; /* Include padding in width */
  margin-bottom: 10px; /* Add margin below the results */
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Add gap between buttons */
}

.calculator-button {
  font-size: 24px;
  border-radius: 5px; /* Rounded corners */
  color: #ffffff; /* White text */
  background-color: #074651b8; /* Orange */
  border: none; /* No border */
  padding: 20px; /* Padding for buttons */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.calculator-operator {
  background-color: rgba(101, 132, 133, 0.817);
}

.calculator-button:hover {
  background-color: #09516bfe; /* Darker on hover */
}
